@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

@layer components {
  .theme-bg {
    @apply dark:bg-gray-900 transition-colors duration-200;
  }

  .theme-text {
    @apply text-gray-900 dark:text-white transition-colors duration-200;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}

.logo-rotate {
  animation: logo-rotate 10s linear infinite;
}

@keyframes logo-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
